/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  /*background-image: url("teamrocket.png");*/
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size:5em;
  background-attachment: fixed;
  background-color: #FFFFFF;
  margin: 0 50;
  padding: 10px;
}

.container {
  color: #FF0000;
  font-family: verdana;
  text-align: center;
}

.content {
  color: #920031;
  font-family: courier;
  font-size: 25px;
  padding: 10px;
  position: relative;
  text-align: center;
}

.content th {
  color: #A60000;
}

.content td {
  color: #CD0074;
}

.deck_container{
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.deck_container th {
  padding: 10px;
}

.deck_container td {
  padding: 10px;
  
}

h1 {
  font-size: 40px;
}

footer {

}

#flashCard {
  background-color: #ffffff;
  box-shadow: 1px 1px 8px #000;
  color: #000000;
  height: 420px;
  line-height: 30px;
  margin: 10%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 50px;
  text-align: center;
  width: 680px; 
}


#flashCardFront{
  display: block;
  height: 420px;
  width: 680px;
}

#flashCardBack{
  display: none;
  height: 420px;
  width: 680px;
}

#flipCardToBack {
  color: #cccccc;
}

#flipCardToFront {
  color: #cccccc;
}




