<div id = flashCard>
  <div id = flashCardFront>
    <h1><%= @cards.frontContent %></h1>
  </div> <!--end div flashCardFront -->
  <div id = flashCardBack>
    <h1><%= @cards.backContent %></h1>
  </div><!--end div flashCardBack-->
</div> <!--end div flashCard -->
<p><%= @cards.description %></p>
<%= link_to "Back", deck_cards_path(@decks) %>